.container{
    display: flex;
    justify-content: space-between;
}

.names{
    display: flex;
    justify-content: space-between;
    gap: 50px;
    list-style: none;
}
.logo{
    color: green;
}
li a{
    text-decoration: none;
    color: black;
}
.main{
    text-align: center;
}

span{
    color: green;
}

li .lo{
    color: green;
    
}

.ol{
    border: 2px solid green;
    padding: 5px;
    border-radius: 5px;
}

.grid{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns:40% 60%;
    height: 400px;
    width: 100%;
    /* column-gap: 10px;  
    border: 1px solid black; */
}

.left ,.right{
    border-top: 5px solid rgb(67, 168, 0);
    border-bottom: 5px solid rgb(67, 168, 0);;
    gap: 20px;
    height: 400px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.form{
    display: flex;
    justify-content: space-evenly;
}

.right{
    padding: 10px;
}

.in4{
    height:150px;
    width: 700px;
}
.in3{
    width: 700px;
    padding-left: 10%
}

.in2 {
    width: 350px;
}

.in1{
width: 350px;
}

.btn1{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
    color: black;
}

.top{
    display: flex;
    gap: 10px;
    padding-top: 10px;
    padding-left: 20px;
}

.icon1{
    display: flex;
    justify-content: center;
    align-items: center;
   
}

img{
    height: 150px;
    padding-left: 20px;
}
